#title {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

#title-icon {
  padding: 5px;
}

#banner-buttons {
  display: flex;
  flex-direction: row;
}

.login-actions {
  display: flex;
  flex-direction: row;
  justify-items: right;
}
