<section>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="standard">
      <mat-label>Username</mat-label>
      <input
        [(ngModel)]="model.username"
        matInput
        name="username"
        required
        type="text"
        placeholder="matttm"
      >
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input
        [(ngModel)]="model.password"
        matInput
        appPasswordToggle
        name="password"
        required
        type="password"
        placeholder="*****"
      >
    </mat-form-field>
    <button [disabled]="!loginForm.valid" mat-flat-button type="submit">Submit</button>
  </form>
  <p>Don't have an account? <a routerLink="/registration" routerLinkActive="true">Register</a></p>
</section>
